<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DyPhotos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A130D8C1BEB00980082F2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A130DA31BEB00990082F2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A130DAE1BEB00990082F2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
